
@{
    ViewData["Title"] = "Index";
    ViewData["GamesActive"] = "active";
}

<section id="video">
    <div class="container">
        <div class="row">
            <div class="iframe">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/eaW0tYpxyp0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<div class="button-favorite">
    <div class="container">
        <div class="row">
            <a href="" class="red-fav-btn">
                <svg width="24" height="22" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.132 1.97008C16.929 -0.233917 13.216 -0.126917 10.882 2.20608L10.5 2.58808L10.118 2.20608C7.78402 -0.126917 4.07102 -0.233917 1.86802 1.97108C-0.335985 4.17508 -0.229984 7.88808 2.10302 10.2211L10.499 18.6171L18.894 10.2211C21.228 7.88808 21.334 4.17508 19.131 1.97108L19.132 1.97008Z" fill="white" />
                </svg>
                ADD TO FAVORITES
            </a>
        </div>
    </div>
</div>

<section id="description">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <div class="content">
                    <div class="header">
                        <p>Description</p>
                        <div class="dscrptn-horizontal-line"></div>
                    </div>
                    <div class="text">
                        <p>Red Dead Redemption 2 Includes Red Dead Redemption 2: Story Mode and Red Dead Online. Winner of over 175 Game of the Year Awards and recipient of over 250 perfect scores, Red Dead Redemption 2 is an epic tale of honor and loyalty at the dawn of the modern age. </p>
                        <p> America, 1899. Arthur Morgan and the Van der Linde gang are outlaws on the run. With federal agents and the best bounty hunters in the nation massing on their heels, the gang must rob, steal and fight their way across the rugged heartland of America in order to survive. As deepening internal divisions threaten to tear the gang apart, Arthur must make a choice between his own ideals and loyalty to the gang who raised him.</p>
                        <p>Red Dead Redemption 2 also includes the shared living world of Red Dead Online – forge your own path as you battle lawmen, outlaw gangs and ferocious wild animals to build a life on the American frontier. Build a camp, ride solo or form a posse and explore everything from the snowy mountains in the North to the swamps of the South, from remote outposts to busy farms and bustling towns. Chase down bounties, hunt, fish and trade, search for exotic treasures, run your own underground Moonshine distillery, or become a Naturalist to learn the secrets of the animal kingdom and much more in a world of astounding depth and detail – includes all new features, gameplay content and additional enhancements released since launch.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="content">
                    <div class="header">
                        <p class="rqrmts-title">Software Requirements</p>
                        <div class="rqrmts-horizontal-line"></div>
                    </div>
                    <div class="text-li">
                        <ul class="requirements-list">
                            <li>Operating System: &nbsp; Windows 11</li>
                            <li>Processor:</li>
                            <li>Video Card:</li>
                            <li>RAM:</li>
                            <li>Space:</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

