
@{
    ViewData["Title"] = "Find Game";
    ViewData["FindActive"] = "active";
}

<section id="search">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="input">
                    <svg width="33" height="25" viewBox="0 0 33 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M29.4791 23.1457L26.7448 20.4478C26.3073 20.7152 25.8455 20.916 25.3594 21.0501C24.8732 21.1833 24.3507 21.2499 23.7916 21.2499C22.1389 21.2499 20.7534 20.6909 19.6354 19.5728C18.5173 18.4548 17.9583 17.0694 17.9583 15.4166C17.9583 13.7638 18.5173 12.3784 19.6354 11.2603C20.7534 10.1423 22.1389 9.58325 23.7916 9.58325C25.4444 9.58325 26.8298 10.1423 27.9479 11.2603C29.0659 12.3784 29.625 13.7638 29.625 15.4166C29.625 15.9756 29.5584 16.4982 29.4252 16.9843C29.291 17.4704 29.0903 17.9322 28.8229 18.3697L31.5208 21.1041C31.7882 21.3714 31.9282 21.7054 31.9408 22.106C31.9525 22.5075 31.8125 22.8541 31.5208 23.1457C31.2534 23.4131 30.9132 23.5468 30.5 23.5468C30.0868 23.5468 29.7465 23.4131 29.4791 23.1457V23.1457ZM23.7916 18.3333C24.618 18.3333 25.3107 18.0537 25.8698 17.4947C26.4288 16.9357 26.7083 16.243 26.7083 15.4166C26.7083 14.5902 26.4288 13.8975 25.8698 13.3385C25.3107 12.7794 24.618 12.4999 23.7916 12.4999C22.9653 12.4999 22.2725 12.7794 21.7135 13.3385C21.1545 13.8975 20.875 14.5902 20.875 15.4166C20.875 16.243 21.1545 16.9357 21.7135 17.4947C22.2725 18.0537 22.9653 18.3333 23.7916 18.3333ZM16.4635 24.3489C16.0503 24.3489 15.6799 24.2881 15.3523 24.1666C15.0237 24.0451 14.7135 23.8385 14.4218 23.5468L1.00518 10.0937C0.713518 9.802 0.501088 9.48603 0.367893 9.14575C0.233727 8.80547 0.178796 8.45304 0.203102 8.08846C0.227407 7.72388 0.312477 7.37728 0.45831 7.04867C0.604143 6.72103 0.822893 6.43568 1.11456 6.19263C3.25345 4.51554 5.61692 3.20304 8.20498 2.25513C10.794 1.30721 13.559 0.833252 16.5 0.833252C19.4409 0.833252 22.2059 1.30721 24.795 2.25513C27.383 3.20304 29.7465 4.51554 31.8854 6.19263C32.1771 6.43568 32.3958 6.72103 32.5416 7.04867C32.6875 7.37728 32.7725 7.72388 32.7968 8.08846C32.8212 8.45304 32.7604 8.81131 32.6146 9.16325C32.4687 9.51617 32.2621 9.83846 31.9948 10.1301L31.2656 10.8593C30.5364 9.61971 29.5336 8.61103 28.2571 7.83325C26.9815 7.05547 25.493 6.66658 23.7916 6.66658C21.3611 6.66658 19.2951 7.51728 17.5937 9.21867C15.8923 10.9201 15.0416 12.986 15.0416 15.4166C15.0416 17.0937 15.4364 18.5821 16.2258 19.882C17.0162 21.1828 18.0069 22.1857 19.1979 22.8905L18.5416 23.5468C18.2257 23.8628 17.9039 24.0752 17.5762 24.1841C17.2476 24.2939 16.8767 24.3489 16.4635 24.3489Z" fill="#F8F8F8" />
                    </svg>
                    <input type="text" name="gameName" id="" placeholder="Find a game based on your interest">
                </div>
                <hr>
            </div>
        </div>
    </div>
</section>


<section id="games">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-3 col-sm-6 gm">
                <div class="game-card-click">
                    <a href="#">
                        <div class="game-card">
                            <div class="game-photo">
                                <img src="~/assets/img/game4.png" alt="">
                            </div>
                            <div class="game-card-content">
                                <div class="game-title">
                                    BATTLEFRONT
                                </div>
                                <div class="game-fav">
                                    <a href="#"><i class="bi bi-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-sm-6">
                <div class="game-card-click">
                    <a href="#">
                        <div class="game-card">
                            <div class="game-photo">
                                <img src="~/assets/img/gta.jpg" alt="">
                            </div>
                            <div class="game-card-content">
                                <div class="game-title">
                                    BATTLEFRONT
                                </div>
                                <div class="game-fav">
                                    <a href="#"><i class="bi bi-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-sm-6">
                <div class="game-card-click">
                    <a href="#">
                        <div class="game-card">
                            <div class="game-photo">
                                <img src="~/assets/img/spin-tires.jpeg" alt="">
                            </div>
                            <div class="game-card-content">
                                <div class="game-title">
                                    BATTLEFRONT
                                </div>
                                <div class="game-fav">
                                    <a href="#"><i class="bi bi-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-sm-6">
                <div class="game-card-click">
                    <a href="#">
                        <div class="game-card">
                            <div class="game-photo">
                                <img src="~/assets/img/game4.png" alt="">
                            </div>
                            <div class="game-card-content">
                                <div class="game-title">
                                    BATTLEFRONT
                                </div>
                                <div class="game-fav">
                                    <a href="#"><i class="bi bi-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

