
@{
    ViewData["Title"] = "Home Page";
    ViewData["GamesActive"] = "active";
}


<section class="game-search">
    <div class="container">
        <button type="button" data-toggle="modal" data-target=".bd-game-search-modal-lg">
            <div class="search-background">
                <div class="search-icon">
                    <img src="~/assets/img/bx_search-alt.png" alt="">
                </div>
                <div class="search-text">
                    search
                </div>
            </div>
        </button>
    </div>

    <div class="modal modal-search fade bd-game-search-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="search-modal">
                    <div class="search-area">
                        <div class="search-input">
                            <input type="search" placeholder="Please write game name">
                        </div>
                        <button><img src="~/assets/img/bx_search-alt.png"><p>search</p></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="popular-games">
    <div class="container">
        <div class="game-slider">
            <div class="slider-title">
                <img src="~/assets/img/popular%20games%20logo.png" alt="">
                Popular Games
            </div>
            <div class="slider-content">
                <div class="game-carousel owl-carousel">

                    <div class="game-card-click">
                        <a href="#">
                            <div class="game-card">
                                <div class="game-photo">
                                    <img src="~/assets/img/game4.png" alt="">
                                </div>
                                <div class="game-card-content">
                                    <div class="game-title">
                                        BATTLEFRONT
                                    </div>
                                    <div class="game-fav">
                                        <a href="#"><i class="bi bi-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="game-card-click">
                        <a href="#">
                            <div class="game-card">
                                <div class="game-photo">
                                    <img src="~/assets/img/game4.png" alt="">
                                </div>
                                <div class="game-card-content">
                                    <div class="game-title">
                                        BATTLEFRONT
                                    </div>
                                    <div class="game-fav">
                                        <a href="#"><i class="bi bi-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="game-card-click">
                        <a href="#">
                            <div class="game-card">
                                <div class="game-photo">
                                    <img src="~/assets/img/gta.jpg" alt="">
                                </div>
                                <div class="game-card-content">
                                    <div class="game-title">
                                        BATTLEFRONT
                                    </div>
                                    <div class="game-fav">
                                        <a href="#"><i class="bi bi-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="game-card-click">
                        <a href="#">
                            <div class="game-card">
                                <div class="game-photo">
                                    <img src="~/assets/img/spin-tires.jpeg" alt="">
                                </div>
                                <div class="game-card-content">
                                    <div class="game-title">
                                        BATTLEFRONT
                                    </div>
                                    <div class="game-fav">
                                        <a href="#"><i class="bi bi-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="game-card-click">
                        <a href="#">
                            <div class="game-card">
                                <div class="game-photo">
                                    <img src="~/assets/img/spin-tires.jpeg" alt="">
                                </div>
                                <div class="game-card-content">
                                    <div class="game-title">
                                        BATTLEFRONT
                                    </div>
                                    <div class="game-fav">
                                        <a href="#"><i class="bi bi-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="old-games">
    <div class="container">
        <div class="game-slider">
            <div class="slider-title">
                <img src="~/assets/img/popular%20games%20logo.png" alt="">
                Old Games
            </div>
            <div class="slider-content">
                <div class="game-carousel owl-carousel">
                    <div class="game-card-click">
                        <a href="#">
                            <div class="game-card">
                                <div class="game-photo">
                                    <img src="~/assets/img/game4.png" alt="">
                                </div>
                                <div class="game-card-content">
                                    <div class="game-title">
                                        BATTLEFRONT
                                    </div>
                                    <div class="game-fav">
                                        <a href="#"><i class="bi bi-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="game-card-click">
                        <a href="#">
                            <div class="game-card">
                                <div class="game-photo">
                                    <img src="~/assets/img/game4.png" alt="">
                                </div>
                                <div class="game-card-content">
                                    <div class="game-title">
                                        BATTLEFRONT
                                    </div>
                                    <div class="game-fav">
                                        <a href="#"><i class="bi bi-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="game-card-click">
                        <a href="#">
                            <div class="game-card">
                                <div class="game-photo">
                                    <img src="~/assets/img/game4.png" alt="">
                                </div>
                                <div class="game-card-content">
                                    <div class="game-title">
                                        BATTLEFRONT
                                    </div>
                                    <div class="game-fav">
                                        <a href="#"><i class="bi bi-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="game-card-click">
                        <a href="#">
                            <div class="game-card">
                                <div class="game-photo">
                                    <img src="~/assets/img/game4.png" alt="">
                                </div>
                                <div class="game-card-content">
                                    <div class="game-title">
                                        BATTLEFRONT
                                    </div>
                                    <div class="game-fav">
                                        <a href="#"><i class="bi bi-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="game-card-click">
                        <a href="#">
                            <div class="game-card">
                                <div class="game-photo">
                                    <img src="~/assets/img/game4.png" alt="">
                                </div>
                                <div class="game-card-content">
                                    <div class="game-title">
                                        BATTLEFRONT
                                    </div>
                                    <div class="game-fav">
                                        <a href="#"><i class="bi bi-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="game-card-click">
                        <a href="#">
                            <div class="game-card">
                                <div class="game-photo">
                                    <img src="~/assets/img/game4.png" alt="">
                                </div>
                                <div class="game-card-content">
                                    <div class="game-title">
                                        BATTLEFRONT
                                    </div>
                                    <div class="game-fav">
                                        <a href="#"><i class="bi bi-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="game-card-click">
                        <a href="#">
                            <div class="game-card">
                                <div class="game-photo">
                                    <img src="~/assets/img/game4.png" alt="">
                                </div>
                                <div class="game-card-content">
                                    <div class="game-title">
                                        BATTLEFRONT
                                    </div>
                                    <div class="game-fav">
                                        <a href="#"><i class="bi bi-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="newreleased-games">
    <div class="container">
        <div class="game-slider">
            <div class="slider-title">
                <img src="~/assets/img/popular%20games%20logo.png" alt="">
                New Released Games
            </div>
            <div class="slider-content">
                <div class="game-carousel owl-carousel">
                    <div class="game-card-click">
                        <a href="#">
                            <div class="game-card">
                                <div class="game-photo">
                                    <img src="~/assets/img/game4.png" alt="">
                                </div>
                                <div class="game-card-content">
                                    <div class="game-title">
                                        BATTLEFRONT
                                    </div>
                                    <div class="game-fav">
                                        <a href="#"><i class="bi bi-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="game-card-click">
                        <a href="#">
                            <div class="game-card">
                                <div class="game-photo">
                                    <img src="~/assets/img/game4.png" alt="">
                                </div>
                                <div class="game-card-content">
                                    <div class="game-title">
                                        BATTLEFRONT
                                    </div>
                                    <div class="game-fav">
                                        <a href="#"><i class="bi bi-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="game-card-click">
                        <a href="#">
                            <div class="game-card">
                                <div class="game-photo">
                                    <img src="~/assets/img/game4.png" alt="">
                                </div>
                                <div class="game-card-content">
                                    <div class="game-title">
                                        BATTLEFRONT
                                    </div>
                                    <div class="game-fav">
                                        <a href="#"><i class="bi bi-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="game-card-click">
                        <a href="#">
                            <div class="game-card">
                                <div class="game-photo">
                                    <img src="~/assets/img/game4.png" alt="">
                                </div>
                                <div class="game-card-content">
                                    <div class="game-title">
                                        BATTLEFRONT
                                    </div>
                                    <div class="game-fav">
                                        <a href="#"><i class="bi bi-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="game-card-click">
                        <a href="#">
                            <div class="game-card">
                                <div class="game-photo">
                                    <img src="~/assets/img/game4.png" alt="">
                                </div>
                                <div class="game-card-content">
                                    <div class="game-title">
                                        BATTLEFRONT
                                    </div>
                                    <div class="game-fav">
                                        <a href="#"><i class="bi bi-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="game-card-click">
                        <a href="#">
                            <div class="game-card">
                                <div class="game-photo">
                                    <img src="~/assets/img/game4.png" alt="">
                                </div>
                                <div class="game-card-content">
                                    <div class="game-title">
                                        BATTLEFRONT
                                    </div>
                                    <div class="game-fav">
                                        <a href="#"><i class="bi bi-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="game-card-click">
                        <a href="#">
                            <div class="game-card">
                                <div class="game-photo">
                                    <img src="~/assets/img/game4.png" alt="">
                                </div>
                                <div class="game-card-content">
                                    <div class="game-title">
                                        BATTLEFRONT
                                    </div>
                                    <div class="game-fav">
                                        <a href="#"><i class="bi bi-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>