
@{
    ViewData["Title"] = "About Us";
    ViewData["AboutActive"] = "active";
}

<section id="about">
    <div class="container">
        <div class="row col-sm-12">
            <p><span>EGAMEK</span>-our goal is finding the best games for you, so that you can enjoy using  our website. It’s also more than a website because we can also use it like engine. </p>
        </div>
    </div>
</section>

